<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" routerLink="/home"
                    ><div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Home
                </a>
                <a class="nav-link" routerLink="/departures"
                    ><div class="sb-nav-link-icon"><i class="fas fa-train"></i></div>
                    Praticando API Livros
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">version:</div>
            1.0.0
        </div>
    </nav>
</div>